In [23]:
# 17th May 2024
# jupyter notebook good for teaching and doc but not to build app
x = 5
y = 10
z = x + y
# python will guess the data type
# functions are lower case
# python uses whitespace as part of the code. 
# whitespace and tabs are important
print("Hello world")
print(z)

j = y / x
print(j) # will show decimal i.e. a float, a 64 bit 

print(type(j))
print(type(z))
# type is a class, not a function

Hello world
15
2.0
<class 'float'>
<class 'int'>

In [24]:
# Exercise
a = 12
b = 20
c = a * b
print(c)

# calc area of a circle
radius = 2
pi = 3.142
area_of_circle = pi * (radius ** 2)
print(area_of_circle)

240
12.568

In [25]:
# concatenate strings
name = "David"
hobby = "rowing"

#create f string
outcome = f"My name is: {name}, and i like {hobby}"
print(outcome)

My name is: David, and i like rowing

In [26]:
# exercise
name = "David"
job = "Senior specialist"
name_job = f"I'm {name} and my job title is {job}"
# can put other expressions into {}
print(name_job)

I'm David and my job title is Senior specialist

In [27]:
# slicing strings
# indexing starts at ZERO
# [] for accessing slice e.g. column, row, location in a string

num_string = "123456789"
sub_string = num_string[8]
print(sub_string)

sub_string_right = num_string[-3] # a minus means count from the right
print(sub_string_right)

sub_range = num_string[3:-3] # start is inclusive, stop is exclusive
print(sub_range)

# step
step_range = num_string[::2]
print(step_range)

reverse = num_string[-1::-1]

9
7
456
13579

In [28]:
# exercise - split out the 3 words
slice_this_phrase = "dog cat racoon"
print(slice_this_phrase[0:3])
print(slice_this_phrase[4:7])
print(slice_this_phrase[-6:])

dog
cat
racoon

In [29]:
name = "Will"
hobby = "Running"

outcome = "My name is: " + name + ", and I like " + hobby + "."

print(outcome)

outcome_2 = f"My name is: {name}, and I like {hobby}."

print(outcome_2)

My name is: Will, and I like Running.
My name is: Will, and I like Running.

In [30]:
# In this cell, initialise two appropriately named variables, one for your name and one for your job title.
# Next, combine them in an f string, assigned to a different, appropriately named variable.
# Finally, print the f string.

name = "Will"
job = "Data Manager"

name_job = f"My name is {name}, and I am a {job}."

print(name_job)

My name is Will, and I am a Data Manager.

In [31]:
# indexing starts at 0

num_string = "123456789"

sub_string = num_string[3]

print(sub_string)

# minus is from rhs
sub_string_rhs = num_string[-3]

print(sub_string_rhs)

# start is INCLUSIVE, stop is EXCLUSIVE
sub_range = num_string[3:7]
print(sub_range)

# step 
step_range = num_string[::2]
print(step_range)

reverse = num_string[-1::-1]
print(reverse)

4
7
4567
13579
987654321

In [32]:
# In this cell I've initialised a variable 'slice_this_phrase'. 
# On the next three lines, print the words dog, cat, and racoon seprately 
#using a slice from the beginning, a slice giving a range in the middle, and a slice from the end.
# This means one slice will involve [:n], one will involve [n1:n2], and one will involve [-n:].

slice_this_phrase = 'dog cat racoon'

print(slice_this_phrase[:3])
print(slice_this_phrase[4:7])
print(slice_this_phrase[-6:])

dog
cat
racoon

In [33]:
#####################################################################
# Session 2: 24th May 2024
#####################################################################
# recap from last week
# str(), int(), float() to convert items

# strings idx
# [ start : stop : step ]

num_1 = 3 # int
num_2 = "5" # str
num_3 = 4.0 # floats

# str()
# int()
# float()

type_num_1 = type(num_1)
print(num_1)
print(type_num_1)

#formatted string
string_1 = f'I have a number: {num_1}.'

#normal concatenated string
string_2 = 'I have a number: ' + str(num_1) + '.'

print(string_1)

substring_1 = string_1[2]
print(substring_1)

# [ start : stop : step ]
substring_2 = string_1[2:-3]
print(substring_2)

substring_3 = string_1[::2]
print(substring_3)

reverse_string = string_1[-1::-1]
print(reverse_string)

3
<class 'int'>
I have a number: 3.
h
have a number:
Ihv  ubr .
.3 :rebmun a evah I

In [34]:
##########################################
# Week 2 content
##########################################

# Lists
# Good for lookups i.e. validation. Commonly used

list_1 = []
print(type(list_1))

colours = ["red","blue","green"]
print(colours)
# can put a list inside a list if needed
# lists can contain anything e.g. tables and other objects

colours.append("purple")
print(colours)
# fn exist outside obj type
# a method however are specifically for the object

extra_colours = ["turquiose", "teal"]
colours.append(extra_colours) # appends item as ONE INDEXED LOCATION
print(colours)

colours.extend(extra_colours) # appends items as INDIVIDUAL INDEXED LOCATIONS
print(colours)

colours.extend("grey") # each characted will have separate INDEX LOCATION!
print(colours)
# NB: important to know difference between EXTEND and APPEND methods

colours.extend(["purple", "purple"])
print(colours)
colours.remove("purple") # removes one item at a time
# need to run several times to remove individually
print(colours)

<class 'list'>
['red', 'blue', 'green']
['red', 'blue', 'green', 'purple']
['red', 'blue', 'green', 'purple', ['turquiose', 'teal']]
['red', 'blue', 'green', 'purple', ['turquiose', 'teal'], 'turquiose', 'teal']
['red', 'blue', 'green', 'purple', ['turquiose', 'teal'], 'turquiose', 'teal', 'g', 'r', 'e', 'y']
['red', 'blue', 'green', 'purple', ['turquiose', 'teal'], 'turquiose', 'teal', 'g', 'r', 'e', 'y', 'purple', 'purple']
['red', 'blue', 'green', ['turquiose', 'teal'], 'turquiose', 'teal', 'g', 'r', 'e', 'y', 'purple', 'purple']

In [35]:
numbers = [2,5,7,3,1,6,4,6,7,8,9]
print(numbers)
numbers.sort() # sorts ascending as a default
print(numbers)

numbers.sort(reverse=True) # an example of a method with parameters
print(numbers)

sorted_numbers = sorted(numbers) # function, not a method
print(sorted_numbers)

[2, 5, 7, 3, 1, 6, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 6, 7, 7, 8, 9]
[9, 8, 7, 7, 6, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 6, 7, 7, 8, 9]

In [36]:
# Dictionary
# useful for storing related tables, renaming variables based on a key
# they are very quick to process, as vars are stored close together
# good for organising variables
# Store data in key/value pairs
# Dictionary = {key:value, key:value}
# keys are immutable ie can't change
will = {"Name":"William",
        "Age":52,
        "Hobby":"Rowing"}
print(will)

print(will["Hobby"])

{'Name': 'William', 'Age': 52, 'Hobby': 'Rowing'}
Rowing

In [37]:
# PEP 8 is a coding guide
# variables are lower case with _ between

In [38]:
##########################################
# Week 3 - pandas for tabular data
##########################################
# do not use github to process sensitive data **********

import pandas as pd
# import os # needed if reading files from laptop. There is a separate package for sharepoint data.

filename = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"

# DataFrame - shorthand as df (ie tabular data, like R)

house_prices = pd.read_csv(filename) # many attributes/parameters are available
house_prices # will output the object, because this is jupyter, we don't need specifically print(house_prices)

# import openpyxl # for reading excel
# excel_file = pd.read_excel(filename, sheet_name = []) # will only read 1st sheet unless stated
# returns a dictionary {} where keys are sheet names and values the df

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
0,United Kingdom,1980-01,10.11,19273,3.94,28.59
1,United Kingdom,1980-02,10.11,19273,3.94,28.59
2,United Kingdom,1980-03,10.11,19273,3.94,28.59
3,United Kingdom,1980-04,10.51,20044,4.00,24.15
4,United Kingdom,1980-05,10.51,20044,4.00,24.15
...,...,...,...,...,...,...
518,United Kingdom,2023-03,148.20,282548,-1.00,3.20
519,United Kingdom,2023-04,148.90,283871,0.50,2.50
520,United Kingdom,2023-05,149.50,285053,0.40,1.60
521,United Kingdom,2023-06,151.20,288281,1.10,1.90
522,United Kingdom,2023-07,152.00,289824,0.50,0.60

In [39]:
house_prices.info() # a bit like summary in R
# columns and rows are indexed
# check col types within the output. Some may need cleaning
house_prices.head() # can put integer in the brackets
house_prices.tail() # can put integer in the brackets

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Name                                            523 non-null    object
 1   Period                                          523 non-null    object
 2   House price index All property types            523 non-null    float64
 3   Average price All property types                523 non-null    int64
 4   Percentage change (monthly) All property types  523 non-null    float64
 5   Percentage change (yearly) All property types   523 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 24.6+ KB

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
518,United Kingdom,2023-03,148.2,282548,-1.0,3.2
519,United Kingdom,2023-04,148.9,283871,0.5,2.5
520,United Kingdom,2023-05,149.5,285053,0.4,1.6
521,United Kingdom,2023-06,151.2,288281,1.1,1.9
522,United Kingdom,2023-07,152.0,289824,0.5,0.6

In [40]:
# to select col
house_prices['Period']
# to change column type
house_prices['Period'] = pd.to_datetime(house_prices['Period'], format = "%Y-%m")
# useful datetime conversion cheatsheet: https://strftime.org/
house_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Name                                            523 non-null    object
 1   Period                                          523 non-null    datetime64[ns]
 2   House price index All property types            523 non-null    float64
 3   Average price All property types                523 non-null    int64
 4   Percentage change (monthly) All property types  523 non-null    float64
 5   Percentage change (yearly) All property types   523 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 24.6+ KB

In [41]:
#new col to calculate age, using 2 dates
# has row context like R, so adds new column to each row
house_prices['Age of data'] = pd.to_datetime('today') - house_prices['Period'] # output in days
house_prices['Age of data'] = house_prices['Age of data'] / pd.Timedelta(365.25,'d')
house_prices['Age of data'] = house_prices['Age of data'].astype('int') # int will round age down. Use 'round' to control rounding

#alternativly, can use numpy.timedelta64(1, 'Y') as it's more detailed calculation

In [42]:
# alternative test dataset
fn = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"
child_data = pd.read_csv(fn)

In [43]:
# convert another data
child_data['ExpectedPersonBirthDate'] = pd.to_datetime(child_data['ExpectedPersonBirthDate'], format="%Y-%m-%d", errors="coerce")
# error coerces to NaN
child_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      datetime64[ns]
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 23.5+ KB

In [44]:
# to merge df
new_df = pd.merge(left_df, right_df, how = 'left', left_on = 'colNameToJoin', right_on = 'colToJoinRight')

NameError: name 'left_df' is not defined

In [ ]:
# example of how to create hard-coded dataframes

child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',}, 
                            ])

In [50]:
##########################################
# Week 4 - 
##########################################

import pandas as pd
# import os # would need this if importing file on own laptop

filepath_ci  = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"
filepath_cc = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"

child_identifiers = pd.read_csv(filepath_ci)
child_characteristics = pd.read_csv(filepath_cc)

# for reading local files with locally installed Python
# import os
# os_filepath = r"c://data/child_charatceristics.csv"

In [52]:
child_identifiers.info()
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            ])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB

In [55]:
child_info[['Birthday', 'CP Plan?']]

child_info['Birthday'] = pd.to_datetime(child_info['Birthday'], format="%d/%m/%Y")

# if it's year month days sep. by dashes "%Y-%m-%d"

child_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ChildId            5 non-null      object
 1   Age first contact  5 non-null      int64
 2   Gender             5 non-null      object
 3   Birthday           4 non-null      datetime64[ns]
 4   CP Plan?           5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 328.0+ bytes

In [ ]:
child_identifiers['PersonBirthDate'] = pd.to_datetime(child_identifiers['PersonBirthDate'], format="%Y-%m-%d", errors="coerce")
child_identifiers['PersonDeathDate'] = pd.to_datetime(child_identifiers['PersonDeathDate'], format="%Y-%m-%d", errors="coerce")
child_identifiers['ExpectedPersonBirthDate'] = pd.to_datetime(child_identifiers['ExpectedPersonBirthDate'], format="%Y-%m-%d", errors="coerce")

# for column in ['PersonBirthDate', 'PersonDeathDate', 'ExpectedPersonBirthDate']:
#     child_identifiers[column] = pd.to_datetime(child_identifiers[column], format="%Y-%m-%d", errors="coerce")
# the for look is just for example and wouldn't be used in pandas

child_identifiers.info()

In [ ]:
child_identifiers['Age of Death'] = child_identifiers['PersonBirthDate'] - child_identifiers['PersonDeathDate']
# child_identifiers[child_identifiers['Age of Death'].notna()]
child_identifiers['Age of Death'] = child_identifiers['Age of Death'] / pd.Timedelta(365.25, 'd')
child_identifiers['Age of Death'] = child_identifiers['Age of Death'].astype('int', errors='ignore')
child_identifiers[child_identifiers['Age of Death'].notna()]

In [59]:
# pip install openpyxl
# this used to install new package, as this isn't part of default python installation

df_dict = pd.read_excel(r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx", sheet_name = None)
# this will return all 3 cheets from the excel doc

In [61]:
df_dict['Child Data'] # to show one sheet

  ChildID Sex        DOB EHCP issued
0     id1   M 2014-12-05           N
1     id6   m 2016-01-06           n
2     id4   m 2013-11-09           Y
3     id3   F 2022-12-24           Y
4     id5   F 2020-01-15         NaN
5     id7   f 2022-09-17           y

In [ ]:
# ci_cc = pd.merge(child_identifiers, child_characteristics, how='left', on='LAchildID', suffixes=('_ci', '_cc'))
# ci_cc

ci_cc = pd.merge(child_identifiers, child_characteristics, how='left', on=['LAchildID', 'Unnamed: 0'])
ci_cc

In [ ]:
# Have a look at the dataframes in df_dict, convert birthday column to a datetime object, merge the three tables together

df_dict = pd.read_excel(r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx", sheet_name=None)

df_dict['Child Data']['DOB'] = pd.to_datetime(df_dict['Child Data']['DOB'], format="%Y-%m-%d")

df = pd.merge(df_dict['Child Data'], df_dict['Child extras'], how='left', on='ChildID')
df = pd.merge(df, df_dict['Sheet3'], on='Assessment Code', how='left')

df.info()

In [ ]:
> # greater than
< # less than
== # equals
 
~ # not
>=/<= # greater equals/less equals
!= # does not equal
 
& # and
| # or
 
# .isna() / .notna()
# .isin()
# .str.contains()

In [ ]:
condition = child_info['Age first contact'] > 5
contact_after_5 = child_info[condition]
contact_after_5

In [ ]:
condition = (child_info['Age first contact'] > 5) | (child_info['CP Plan?'].str.lower().str.contains('n'))
contact_after_5_cp = child_info[condition]
contact_after_5_cp